body {
    background-color: #FFCF73 ; 
    color: A64800;
    margin:auto;
        width: 60%
}
h1{color:#FF6F00}
.bold {
    font-weight:bold ;
}

#loanGridView{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.cssgirdview{
    width:auto; 
    margin : 5px 0 10px 0; 

    text-align :center ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}


.cssgirdview td 
{
padding:10px; 
color:black; 
background-color:#FF6F00; 
border: solid 4px #FFB073;
text-align :center ; 
}

.cssgirdview th 
{
padding:10px; 
color:black ; 
background-color:#FFBD40 ;
text-align :center ; 
border: solid 3px #FFB073;
}

.cssgridview .alt{background-color:#FF9340;